body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  position: relative;
  width: 300px;
  height: 80px;
  border: none;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 10px;
}

button::before {
  position: absolute;
  content: "";
  left: -10px;
  top: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  animation: animacion 2.2s infinite linear;
}

/*texto*/

span {
  text-transform: uppercase;
  font-size: 30px;
  color: white;
  mix-blend-mode: difference;
}

@keyframes animacion {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(20);
  }
  100% {
    transform: scale(1);
  }
}
