* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 1s;
}

body {
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Oswald;
  overflow: hidden;
}

.fondo {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  z-index: -1000;
}
.contenedor {
  border-radius: 10px;
  width: 300px;
  height: 450px;
  background-color: rgb(243, 243, 243);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.158);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info {
  background-color: rgb(243, 243, 243);
  /*background-color: rgb(236, 233, 233);*/
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
  width: 80%;
  height: 80%;
  border-radius: 6px;
  text-align: justify;
  transition: 1s;
}

img {
  max-width: 60%;
  max-height: 60%;
  border-radius: 50%;
  margin-top: 40px;
  transition: 1s;
  filter: grayscale(1);
}

img:hover {
  max-width: 60%;
  max-height: 60%;
  border-radius: 50%;
  image-rendering: auto;
  opacity: 1;
  transition: 1s;
}
.fondo span.apellido {
  position: absolute;
  left: 20px;
  top: 20px;
}

.fondo span.nombre {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

/*textos*/
figure {
  text-align: center;
}

h1 {
  text-align: center;
  transition: 1s;
  color: rgb(236, 233, 233);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

p {
  transition: 1s;
  margin: 10px;
  font-size: 12px;
  font-weight: 100;
}

.fondo span {
  color: transparent;
  font-size: 300px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  transition: 1.5s;
}

.fondo video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2000;
  opacity: 0;
}

/*hover effects*/
.contenedor:hover {
  background: rgb(253, 253, 134);
  border-radius: 10px;
  transition: 1s;
}

.info:hover {
  transition: 1s;
}

.contenedor:hover .fondo {
  position: absolute;
  background-color: rgb(255, 119, 119);
  width: 100%;
  height: 100%;
  z-index: -1000;
  transition: 2s ease;
}

.contenedor:hover > .fondo > span {
  position: absolute;
  transform: translateX(650px);
  transition: 1s;
  -webkit-text-stroke-color: white;
}

.contenedor:hover > .fondo > video {
  transition: 1s;
  opacity: 0.3;
}

.contenedor:hover > .fondo > span.nombre {
  position: absolute;
  transform: translateX(-500px);
  transition: 1s;
}

.contenedor:hover > .info {
  background: rgb(138, 138, 243);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.158);
  transform: scale(1.2);
  transition: 1s;
  transition-timing-function: cubic-bezier(0, 1, 1.4, 0);
}

.contenedor:hover > .info > h1 {
  color: yellow;
  transition: 1s;
  -webkit-text-stroke-width: 0px;
}

.contenedor:hover > .info > p {
  color: white;
  transition: 1s;
}

.contenedor:hover > .info > figure > img {
  filter: none;
  transition: 1s;
  filter: drop-shadow(0px 0px 10px rgb(255, 243, 75));
}
