* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div div.spiner {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(rgb(255, 51, 0), rgb(255, 212, 18));
  z-index: 10;
}

div div.spiner::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  z-index: 0;
  background: black;
}

.animacion {
  animation: test linear 4s infinite;
}

video {
  width: 600px;
}

@keyframes test {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
